<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <parameter name="driver" value="ChromeDriver" /> <!--测试浏览器：支持火狐，谷歌，IE-->
    <parameter name="nodeURL" value="" /> <!--selenium grid分布式运行node节点url，如不用分布式运行，则留空-->
    <parameter name="BaseUrl" value="https://passport.jd.com" />  <!-- 测试系统基础Url-->
    <parameter name="reportTitle" value="自动化测试报告" />  <!--测试报告标题-->
    <parameter name="url" value="http://172.16.0.15/testlink-1.9.16/lib/api/xmlrpc/v1/xmlrpc.php"/>
    <parameter name="devKey" value="41d391cbbdc3b5241504b40d2ffb26a4"/>
    <parameter name="projectName" value="testProject-001"/>
    <parameter name="planName" value="系统测试"/>
    <parameter name="buildName" value="v0.003"/>
    <parameter name="platformName" value=""/>
    <listeners><!-- 监听器设置-->
        <listener class-name="cn.youedata.utils.TestListener"></listener>
        <listener class-name="cn.youedata.utils.TestReport"></listener>
    </listeners>
    <test name="登录失败测试用例：数据驱动"> <!-- 测试用例描述-->
        <!--<parameter name="driver" value="FirefoxDriver" /> &lt;!&ndash;测试浏览器：支持火狐，谷歌，IE&ndash;&gt;-->
        <!--<parameter name="nodeURL" value="http://192.168.0.178:3155/wd/hub" /> &lt;!&ndash;selenium grid分布式运行node节点url，如不用分布式运行，则留空&ndash;&gt;-->
        <parameter name="caseName" value="login003"/>
        <classes>
            <class name="cn.youedata.test.TestLink">
                <methods >
                    <include name="loginFail" />
                </methods>
            </class>
        </classes>
    <!--</test> &lt;!&ndash; Test &ndash;&gt;
    <test name="登录成功测试用例">
        &lt;!&ndash;<parameter name="driver" value="ChormeDriver" /> &lt;!&ndash;测试浏览器：支持火狐，谷歌，IE&ndash;&gt;&ndash;&gt;
        &lt;!&ndash;<parameter name="nodeURL" value="http://192.168.0.178:3166/wd/hub" /> &lt;!&ndash;selenium grid分布式运行node节点url，如不用分布式运行，则留空&ndash;&gt;&ndash;&gt;
        <classes>
            <class name="LoginTest">
                <methods >
                    <include name="login" />
                </methods>
            </class>
        </classes>Test-->
    </test>
</suite> <!-- Suite -->